@import "./normalize.min.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: lavender;
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1em;
	margin: 0
}

a {
	text-decoration: none;
	color: inherit
}
.carrousel_items{
	position: absolute;
	transform-origin: bottom;
}
.carrousel_items:first-child {
 
	animation: spin1 14s linear infinite;
}
.carrousel_items:nth-child(2) {
	animation: spin1 14s linear infinite;
 
	animation-delay: -2s;
}

.carrousel_items:nth-child(3) {
	animation: spin1 14s linear infinite;
	 
	animation-delay: -4s;
}
.carrousel_items:nth-child(4) {
	animation: spin1 14s linear infinite;
 
	animation-delay: -6s;
}
.carrousel_items:nth-child(5) {
	animation: spin1 14s linear infinite;
 
	animation-delay: -8s;
}
.carrousel_items:nth-child(6) {
	animation: spin1 14s linear infinite;
 
	animation-delay: -10s;
}
.carrousel_items:nth-child(7) {
	animation: spin1 14s linear infinite;
 
	animation-delay: -12s;
}

.carrousel:hover > div {
	animation-play-state: paused;
}

.carrousel_items {
	cursor: pointer;
}

.carrousel_wraper div img{
	width: 100%;
}

@keyframes spin1 {
	0% {
		left: 0%;
		transform: scale(1);
		z-index: 1;
	}

	10% {
		 
		transform: scale(1.3);
		z-index: 1;
	}
	20% {
		 
		transform: scale(1.3);
		z-index: 1;
	}
	30% {
		 
		transform: scale(1.5);
		z-index: 1;
	}

	


	70% {
		 
		transform: scale(1.5);
		z-index: 1;
	}
	80% {
		 
		transform: scale(1.3);
		z-index: 1;
	}
	90% {
		left: 90%;
		transform: scale(1);
		z-index: -1;
	}
	100% {
		left: 0%;
		transform: scale(1);
		z-index: -1;
	}

}


  body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	transition: 1s ease-in;
  }

  
  .card {
    width: 126px;
    height: 250px;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	white-space: nowrap;
	background-color: white;
  }

  
  .cardcontent {
	height: 16%;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 8px;
  }
  

  	
  .cardfooter {
	height: 12%;
	display: flex;
	flex-direction: row;
	background-color: rgb(173, 204, 88);
	padding-left: 8px;
	padding-top: 6px;

  }
  
  .cardbutton {
	background: lightgreen;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: translate(150px, 128px);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease-in;
  }
  .cardbutton i {
	color: white;
	transform: translateY(-2px);
  }
  
.carrousel {
	display: flex;
	justify-content: space-between;
	width: 1400px;
	position: relative;
}


  .cardfooter h3 {
	font-size: 0.8em;
  }

  .cardfooter h3:hover {
	  color: rgb(180, 73, 73);
	  font-size: 0.9em;
  }


  .cardcontent p:nth-child(1) {
	font-size: 0.8em;
  }
  .cardcontent h3 {
	font-size: 1.4em;
  }
  .cardcontent p:nth-child(2) {
	font-size: 0.9em;
  }

  .cardimg {
	width: 100%;
	height: 75%;
  }

  .makeevka {
	height: 95%;
  }
  